<!-- _part/mainControls -->
<div class="main-controls row">
    <div class="col-lg-4 col-md-6">
      <button class="btn-success btn" data-command="create">
        <span data-t="">New Game</span>
      </button>
    </div>
    <div class="col-lg-4 col-md-6">
      <button class="btn-primary btn" data-command="join">
        <span data-t="">Join</span>
      </button>
    </div>
    <div class="col-lg-4 col-md-6">
      <button class="btn-danger btn" data-command="play">
        <span data-t="">Continue</span>
      </button>
    </div>
    
  </div>