<!-- _part/misc/footer -->
<footer class="main-footer">
    <div class="text-center">
      <a href="" target="_blank">Powered by Rasimu</a>
      <small class="text-secondary">Checkers</small>
    </div>
  </footer>